<html>
  <head>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/auth.css">
  </head>
  <body>
    <%- include('../partials/navbar', {isAdmin}) %>
    <main>
      <h1><%= error %></h1>
      <form action="/auth/sign-up" method="post">
        <h1>Sign Up</h1>
        <label for="username">Username:</label>
        <input type="text" name="username" />

        <label for="password">Password:</label>
        <input type="password" name="password" />

        <label for="passwordConfirm">Password:</label>
        <input type="password" name="passwordConfirm" />
        <button>Sign Up</button>
      </form>

    </main>
  </body>
</html>
