<nav class="navbar">
  <img src="<%= logoImg %>" alt="logo image" class="logo-img" />
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/shop">Shop</a></li>
    <li><a href="/cart">Cart</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/auth/sign-in">Login</a></li>
  </ul>
</nav>
