<html>
  <head>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('partials/navbar', { isAdmin }) %>
    <main>
      <% if(userName){ %>
      <h1>Hello <%= userName %>!</h1>
      <% } %> Main Page
    </main>
  </body>
</html>
