<html>
  <head>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <h1><%= shopName %></h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/cart"></a>Cart</li>
      </ul>
    </nav>
  </body>
</html>

