.category-navbar{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-navbar ul{
  width: 30%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.category-navbar ul li a{
  text-decoration: none;
  font-size: 18px;
  color: grey;
}

.search {
  width: 300px;
  font-size: 18px;
  color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search input{
  width: 220px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px;
}

.products{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}

.product-box{
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-img{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.add-to-cart-btn{
  width: 30%;
}