*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  position: fixed;
}

.navbar ul{
  list-style: none;
  display: flex;
}

.navbar ul li{
  margin: 0 10px;
}

main{
  padding: 20px;
  padding-top: 50px;
}