* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: grey;
  font-size: 18px;
}

main {
  padding: 20px;
  padding: 80px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
