<html>
  <head>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <h1>CoMit</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/cart">Cart</a></li>
      </ul>
    </nav>
    <main>
      <% for (let p of products) { %>
      <h2><%= p.productName %></h2>
      <p><%= p.productPrice %></p>
      <a href="/shop/<%= p.id %>">View Details</a>
      <% } %>
    </main>
  </body>
</html>
