<html>
<head>
    <title>Shop</title>
</head>
<body>
    <h1><%= pageTitle %></h1>
    <hr>
        <h2><%= product.productName %></h2>
        <p><%= product.productPrice %></p>
        <p>
            <% product.productDescription %>
        </p>
</html>